body {
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-top: 30px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

h5 {
  font-weight: bold;
  margin-top: 0;
}

.container {
  display: block;
  margin: 30px auto;
  padding-top: 20px;
  border: solid lightgrey 1px;
  padding-bottom: 20px;
}

.units {
  font-size: 16px;
  position: relative;
  top: -15px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: black;
}

#condition {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
}

.forecast-day {
  font-weight: bold;
}

.forecast-temps {
  font-size: 13px;
  font-weight: bold;
}

.max {
  color: grey;
}

.min {
  color: darkgrey;
}
